.overview_container{
    width:80%;
    padding:20px 0;
}
.welcome{
    font-size: 32px;
    font-weight: bold;
    margin-bottom:50px;
}
.boards{
    display:flex;
    margin-bottom:30px;
}
.board{
    height:200px;
    width:250px;
    border:1px solid red;
    margin-right:50px;
}
.orders{
    margin-bottom:50px;
}
.title{
    font-size:20px;
    font-weight:bold;
    margin-bottom:20px;
}
.group{
    background:rgb(36, 36, 36);
    margin-bottom:20px;
    padding:10px;
}
.order{
    margin-bottom: 10px;
}
.empty{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height:200px;
    flex-direction: column;
    gap:20px;
}