.overview_container{
    width:80%;
    padding:20px 0;
}
.welcome{
    font-size: 32px;
    font-weight: bold;
    margin-bottom:50px;
}
.boards{
    display:flex;
    margin-bottom:30px;
    max-width: 900px;
    gap:10px;
    justify-content: space-around;
}
.board{
    /* height:200px; */
    width:200px;
    aspect-ratio: 4/3;
    padding:10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:#2F2D2E;

}
.board_title{
    font-size:25px;
    font-weight: bold;
    margin-bottom: 15px;
}
.value{
    font-size:20px;
}
.title{
    font-size:20px;
    font-weight:bold;
    margin-bottom:20px;
}

@media (max-width:1180px){
    .overview_container{
        width:90%
    }
}