.title{
    font-size:20px;
    font-weight:bold;
    margin-bottom:40px;
}
.input_button{
    display: block;
    height:150px;
    width:150px;
    border:1px dashed white;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom:30px;
    font-size:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:15px;
}
.setting_form{
    display: flex;
    flex-direction: column;
    width:350px;
}
.setting_form input{
    margin-bottom:30px;
    height:30px;
    border:none;
    padding:10px;
}
.setting_form textarea{
    height:150px;
    margin-bottom:30px;
}
.setting_form button{
    width:130px;
    height:30px;
}
.image_input{
    display: none;
}
