.main1{
  display:flex;
  position:relative;
  /* height:650px; */
  width:100%;
  justify-content: center;
  margin-bottom:70px;
}
.search_container{
  height:300px;
  background-size: cover;
  border-radius:20px;
  overflow:hidden;
  width:70%;
  position: relative;
}
.search_container::after{
  content:'';
  position:absolute;
  top:0;
  left:0;
  background:rgba(0,0,0,0.6);
  width:100%;
  height:100%;
}
.search_container img{
  min-height:100%;
  max-width:100%;
  min-width:100%;
}
.home_text{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  font-size:50px;
  font-weight: bold;
  width:100%;
  display: flex;
  flex-direction:column;
  align-items: center;
}
.logo{
  width:40px;
  height:40px;
  background:white;
  border-radius: 50%;
  margin-top:20px;
}

.new{
  width:70%;
  margin:auto;
}
.title{
  font-weight:bold;
  font-size:var(--header);
  margin-bottom:20px;
}
.new_products{
  width:100%;
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  column-gap:30px;
  row-gap: 30px;
  margin-bottom:70px;
}
.product{
  background:#F2EFE9;
  color:black;
  border-radius: 10px;
  height:300px;
}

/* add mid section*/
.watch_info_container{
  width:100%;
  background:#2F2D2E;
  height:300px;
  margin-bottom:100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.watch_info{
  width:80%;
  display: flex;
  justify-content: space-between;
}
.info{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info_img{
  width:80px;
  margin-bottom:20px;
}
.info_img img{
  width:100%;
}
.info p{
  text-align: center;
  width:90%;
}





.main3_wrapper{
  width:100%;
  display: flex;
  justify-content: center;
}
.main3{
  width:80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom:50px;
}
.main3_image{
  position:relative;
  overflow: hidden;
  height:500px;
  margin-bottom:50px;
  
}
.main3_image img{
  height:100%;
}
.main3_product{
  width:50%;
}
.product_desc3{
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width:900px){
  .main1{
    width:90%;
    margin: 0 auto 70px auto;
  }
  .search_container{
    width:100%;
    height:250px;
  }
  .title{
    font-size:var(--header-mobile)
  }
  .new{
    width:90%;
  }
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .watch_info{
    width:95%;
  }
}
@media (max-width: 700px) {
  .home_text{
    font-size:30px;
  }
  .watch_info{
    flex-direction: column;
    gap:40px;
    font-size:var(--text-mobile)
  }
  .info_img{
      width:60px;
      margin-bottom:20px;
  }
  .watch_info_container{
    height:auto;
    padding:50px 0
  }
}
