.wrapper{
    width:100%;
    display: flex;
    justify-content: center;
}
.container{
    width:65%;
}
.side_choice{
    width:80%;
    margin: 0 auto 40px auto;
    height:100px;
    display: flex;
    justify-content: space-between;
}
.side_choice div{
    height:50px;
    width:50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    background:white;
    color:black;
    margin-bottom:15px;
    padding:10px;
    cursor: pointer;
    position:relative;
    display: flex;
    justify-content: center;
}
.text{
    position:absolute;
    top:120%;
    color:white;
}
.current{
    background:#2F2D2E !important;
    color:white !important;
}
.main_board{
    width:100%;
    /* min-height:600px; */
    padding:100px;
    background:#2F2D2E;
    margin: auto;
}

@media (max-width:900px){
    .container{
        width:90%;
    }
    .main_board{
        padding:50px;
    }
}