.signup_container{
    display: flex;
    justify-content: center;
}
.signup{
    width:80%;
    display: flex;
    justify-content: center;
}

.form_section{
    width:80%;
    height:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background:rgb(197, 197, 197);
    padding:20px;
}
.su_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:40px;
    border-radius: 5px;
}
.su_form p{
    font-size:23px;
    font-weight: bold;
    margin-bottom:40px;
}
.input_req{
    height:60px;
    width:350px;
    margin-bottom:25px;
}
.input_req input{
    height:45px;
    width:350px;
    padding:10px;
    border:none;
    border-radius: 5px;
}
.err{
    height:10px;
    width:100%;
    color:red;
}
.su_form button{
    width:350px;
    border:none;
    background:black;
    color:white;
    height:45px;
    cursor:pointer;
}

@media (max-width:900px){
    .form_section{
        background:none;
        width:90%;
    }
}