.container{
    position:relative;
    display: flex;
    transition:left 0.3s ease-in-out;
    left:0;
}
.list >p{
    font-size:25px;
    font-weight:bold;
    margin-bottom:10px;
}
.list > span{
    display:block;
    margin-bottom:30px;
}
.list{
    min-width:100%;
}
.order{
    width:90%;
    height:170px;
    margin-bottom:40px;
    border-radius:10px;
    background:white;
    color:black;
    display: flex;
    padding:10px;
}
.order_images{
    height:100%;
    width:200px;
    overflow:hidden;
    display: flex;
    position:relative;
    border-radius:5px;
    margin-right:20px;
}
.img_container{
    border:1px solid green;
    background:black;
    width:100%;
    top:0;
    height:100%;
    position:absolute;
    display:flex;
    justify-content: center;
    align-items: center;
}
.order_images img{
    max-height: 100%;
}
.details{
    position:relative;
    left:50%;
    height:auto;
    min-width:100%;
    transition:left 0.3s ease-in-out;
}
.show{
    left:-150%;
}