.container{
    display: flex;
    justify-content:space-between
}
.left, .right{
    width: 50%;
}
.left>p, .right>p{
    font-weight:bold;
    font-size:25px;
    margin-bottom:25px;
}
.info{
    margin-bottom: 25px;
}
.labels{
    font-weight:bold;
    font-size:20px;
    margin-bottom:10px;
}
.address{
    padding:10px;
    background:grey;
    margin-bottom:25px;
}
.top{
    display: flex;
    justify-content: space-between;
}
.options{
    display: flex;
    gap:10px;
}
.options p{
    cursor: pointer;
}
.no_address{
    margin-bottom:25px;
}
.add_address, .change{
    height:40px;
    padding:10px 10px;
    background:black;
    color:white;
    border:none;    
    cursor:pointer
}

@media (max-width:1180px){
    .container{
        flex-direction: column;
    }
    .left{
        margin-bottom:30px;
    }
    .left, .right{
        width:90%;
    }
}