.container{
    display: flex;
    justify-content:space-between
}
.left, .right{
    width: 45%
}
.left>p, .right>p{
    font-weight:bold;
    font-size:25px;
    margin-bottom:30px;
}
.info{
    margin-bottom: 25px;
}
.labels{
    font-weight:bold;
    font-size:20px;
    margin-bottom:10px;
}
.overview>p{
    margin-bottom:25px;
}
.overview span{
    font-weight:bold;
}