.title{
    margin-bottom:20px;
}
.product{
    display: flex;
    margin-bottom:40px;
}
.image{
    height:150px;
    width:150px;
    background:grey;
    margin-right:10px;
    position:relative;
    overflow:hidden;
}
.image img{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    max-height:100%;
}
.rating{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.rating>p{
    font-weight:bold;
}
.stars{
    height:20px;
    display: flex;
    /* background:white; */
}
.star{
    width:25px;
    height:25px;
    border:1px solid white;
    border-radius:50%;
    margin-right:10px;
    display: block;
}
.filled_star{
    width:25px;
    height:25px;
    background:gold;
    border-radius:50%;
    margin-right:10px;
    display: block;
}
.clear{
    cursor: pointer;
}
.review input{
    border:none;
    height:45px;
    padding:10px;
    width:300px;
    margin-right:20px;
    margin-bottom: 20px;
}
.review textarea{
    width:620px;
    min-height:300px;
    padding:10px;
    margin-bottom:20px;
    display: block;
    border:none;
}
.review button{
    width:150px;
    height:40px;
    border:none;
    color:white;
    background:black;
}

@media (max-width:1250px){
    .review input{
        width:400px;
    }
    .review textarea{
        width:400px;
    }
}