.listing_wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top:30px;
}

.listing_wrapper > button{
    margin-top:30px;
    padding:10px;
    min-width:150px;
    background:black;
    color:white;
    border:none;
    cursor:pointer
}

.left{
    width:50%;
}
.right{
    width:50%;
}

.name{
    margin-bottom:30px;
}
.name p{
    margin-bottom:5px;
}
.name select{
    width:300px;
    height:35px;
    padding:5px;
}
.name input{
    height:35px;
    width:300px;
    border:none;
    padding:5px;
}
.file_upload{
    margin:5px 0 30px 0;
    display: block;
    border:1px dashed white;
    height:50px;
    width:50px;
    cursor:pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    border-radius: 5px;
}
.choose{
    display: none;
}
.secondary_grid{
    display:grid;
    /* grid-template-columns: 200px 200px; */
}
.preview_container{
    position:relative;
    width:200px;
}
.remove{
    position:absolute;
    height:25px;
    width:25px;
    right:10px;
    top:10px;
    border-radius:50%;
    cursor: pointer;
}
.preview{
    width:200px;
}
.name textarea{
    padding:5px;
    width:300px;
    max-width:400px;
    height:150px;
    max-height:200px;
}

@media (max-width:900px){
    .listing_wrapper{
        flex-direction: column;
    }
}