.main{
    flex-direction:column;
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.add_image{
    font-size: 20px;
    font-weight: bold;
    margin-bottom:20px;
}
.image_input{
    width:150px;
    max-width:200px;
    margin-bottom:50px;
    height:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size:40px;
}
.input_img{
    min-height:150px;
    max-width:100%;
    width:150px;
    display: block;
    border:1px dashed white;
    display: flex;
    justify-content: center;
    align-items:center;
}
.input_img input{
    display: none;
}
.preview{
    position:relative;
    width:350px;
    height:auto;
}
.cancel{
    position:absolute;
    width:30px;
    height:30px;
    /* background:red; */
    top:5px;
    right:5px;
    box-shadow: 1px 1px 1px 1px #0000;
    cursor: pointer;
}
.preview img{
    max-width:350px;
}
.name{
    width:min(500px, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:30px 0px;
}
.title{
    margin-bottom:10px;
    font-size:20px;
    font-weight: bold;
}
.title+p{
    text-align: center;
}
.input{
    height:40px;
    width:min(300px, 100%);
    padding:5px;
    margin-top:30px;
}
.button{
    border:none;
    width:100px;
    height:30px;
}