.container {
  width:100vw;
  position: relative;
  background:#373F51;
  display: flex;
  justify-content: center;
  margin-bottom:50px;
}

.navigation{
  color:white;
  width:85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height:90px;
}

.logo{
  height:30px;
  width:30px;
  background:white;
  border-radius:50%;
}

.navigation ul{
  display:flex;
  list-style: none;
  align-items: center;
}
.navigation li{
  margin-left:80px;
  font-weight:bold;
}
.signout{
  color:black;
  background:white;
  padding:5px 10px;
  border-radius:2px;
  cursor: pointer;
}
.cart{
  cursor: pointer;
  position:relative;
}
.cart svg{
  width:30px;
  height:30px;
}
.cart_status{
  background:red;
  border-radius:50%;
  width:10px;
  height:10px;
  position:absolute;
  top:0;
  right:0;
}
