.cart{
    position:fixed;
    height:100vh;
    width:100vw;
    display: flex;
    right:0;
    top:0;
    transition: right ease-in-out 0.2s;
    overflow:hidden;
  }
  
  .cartContent{
    background:white;
    height:100vh;
    width:auto;
    position:absolute;
    right:0;
    width:35vw;
    padding:15px;
  }
  
  .empty{
    position:absolute;
    height:100%;
    width:100%;
    background:rgba(0, 0, 0, 0.555);
  }
  .closed{
    right:-100vw;
    transition: right 0.2s ease-in-out;
  }

  .item{
    margin-bottom:30px;
    display:flex;
    justify-content:space-between;
    align-items:center;
  }
  .quantity{
    display: flex;
  }
  .quantity p{
    margin:10px;
    font-weight: bold;
  }
  .quantity button{
    width:30px;
    font-size:20px;
  }
  .total{
    font-size:18px;
    font-weight: bold;
  }