.wallet{
    width:100%;
    margin-bottom:15px;
}
.wallet > label{
    margin-left:10px;
}
.connect{
    width:50%;
    height:40px;
    background: black;
    color:white;
    border:none;
    cursor: pointer;
    font-size:15px;
    font-weight: bold;
    margin-bottom:10px;
}
