.home_container{
  margin-top:-60px;
}
.main1{
  display:flex;
  position:relative;
  height:650px;
  width:100%;
  justify-content: center;
  align-items: center;
  margin-bottom:100px;
}
.main1_container{
  width:65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.description{
  width:50%;
  z-index: 2;
}
.right{
  width:40%;
  height:500px;
}
.right img{
  height:100%;
}
.main1_header{
  font-size:65px;
  font-weight: bold;
  margin-bottom:20px;
  font-family: 'Oswald';
}
.descs{
  font-size:21px;
}
.main1 button, .main2 button, .main3 button{
  margin-top:35px;
  width:150px;
  font-size:18px;
  font-weight: bold;
  border:3px solid white;
  color:white;
  border-radius:8px;
  background:none;
  padding:10px;
  cursor:pointer;
}
.main1 button:hover, .main2 button:hover, .main3 button:hover{
  background:white;
  color:black;
}


.main2_wrapper{
  width:100%;
  display: flex;
  justify-content: center;
}
.main2{
  width:70%;
  display: flex;
  height:600px;
  background:#2F2D2E;
  justify-content: space-around;
  align-items: center;
  padding:50px;
  border-radius:20px;
  margin-bottom:150px;
}
.main2_image{
  background:rgb(223, 223, 223);
  width:46%;
  height:90%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.main2_image img{
  width:100%;
}
.main2_product{
  width:46%;
  display: flex;
  padding:80px 50px;
  color:white;
}
.product_name{
  font-size:40px;
  font-weight:bold;
  margin-bottom:25px;
  font-family: 'Oswald';
}
.product_desc{
  font-size:16px;
  line-height: 1.6rem;
}


/* add mid section*/
.watch_info_container{
  width:100%;
  background:#2F2D2E;
  height:300px;
  margin-bottom:100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.watch_info{
  width:80%;
  display: flex;
  justify-content: space-between;
}
.info{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info_img{
  width:80px;
  margin-bottom:20px;
}
.info_img img{
  width:100%;
}
.info p{
  text-align: center;
  width:90%;
}





.main3_wrapper{
  width:100%;
  display: flex;
  justify-content: center;
}
.main3{
  width:80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom:50px;
}
.main3_image{
  position:relative;
  overflow: hidden;
  height:500px;
  margin-bottom:50px;
  
}
.main3_image img{
  height:100%;
}
.main3_product{
  width:50%;
}
.product_desc3{
  display: flex;
  flex-direction: column;
  align-items: center;
}


@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
