.product{
    display: flex;
    flex-direction:column;
}
.image:hover{
  box-shadow: 5px 5px 10px;
}
.image{
  height:200px;
  background:rgb(128, 128, 128);
  margin-bottom:10px;
}
.detail{
  display:flex;
  justify-content: space-between;
  padding:0 5px 5px 5px;
}
.detail p:nth-child(2){
  font-weight: bold;
}