.product{
    width:200px;
    display: flex;
    flex-direction:column;
}
.image{
  height:200px;
  background:rgb(128, 128, 128);
  margin-bottom:10px;
}
.detail{
  display:flex;
  justify-content: space-between;
}